TOPON_PUBLISHER_KEY=
TOPON_APP_IDS=
TOPON_PLACEMENT_IDS=
TOPON_ADSOURCE_IDS=
TOPON_TIME_ZONE=UTC+8
TOPON_API_URL=https://api.toponad.net/v2/fullreport
TOPON_STARTDATE=
TOPON_ENDDATE=
ECPM_DROP_THRESHOLD=25
REVENUE_DROP_THRESHOLD=30
FILL_RATE_DROP_THRESHOLD=20
